openapi: 3.2.0
info:
  title: Zepto Users API
  contact:
    email: support@zepto.com.au
  description: Zepto allows you to make, get and manage payments using nothing but bank accounts.
  version: '1.0'
servers:
- url: https://api.sandbox.zeptopayments.com
  description: Sandbox API server
- url: https://api.zeptopayments.com
  description: Production API server
security:
- bearerAuth: []
tags:
- name: Users
  description: 'All about the currently authenticated user.

    '
paths:
  /user:
    parameters:
    - $ref: '#/components/parameters/ZeptoAPIVersion'
    get:
      tags:
      - Users
      summary: Get user details
      description: ''
      operationId: GetUserDetails
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserDetailsResponse'
components:
  schemas:
    GetUserDetailsResponse:
      title: Get User details (response)
      required:
      - data
      type: object
      properties:
        data:
          type: object
      example:
        data:
          first_name: Bear
          last_name: Dog
          mobile_phone: 0456945832
          email: bear@dog.com
          account:
            name: Dog Bones Inc
            nickname: dog-bones-inc
            abn: '129959040'
            phone: 0418495033
            street_address: 98 Acme Avenue
            suburb: Lead
            state: NSW
            postcode: '2478'
  parameters:
    ZeptoAPIVersion:
      name: Zepto-API-Version
      in: header
      required: false
      schema:
        type: string
        pattern: ^\d{8}$
        default: '20250101'
        example: '20260101'
      description: API version in YYYYMMDD format. Defaults to 20250101 (legacy) when omitted.
  securitySchemes:
    bearerAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /oauth/authorize
          tokenUrl: /oauth/token
          refreshUrl: /oauth/token
          scopes:
            public: Access your public information
            contacts: Manage your contacts
            payments: Manage your payments
            payment_requests: Manage your payment requests
            refunds: Manage your refunds
            agreements: Manage your agreements
            transactions: Access your transaction history
            open_agreements: Manage your open agreements
            transfers: Manage your Transfers
